@{
    ViewData["Title"] = "Tainara Alves | ";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/MeuPortifolio.Web.styles.css" asp-append-version="true" />
      <script src="~/js/script.js"></script>
</head>
<body>

    <header>
        <h2>Tainara Alves</h2>
        <nav>
           <a href="@Url.Action("Index", "Home")">Página Inicial</a>
            <a href="@Url.Action("About", "Home")">Sobre Mim</a>
            <a href="@Url.Action("Projects", "Home")"> Projetos</a>
             <a href="@Url.Action("Contact", "Home")"> Contato</a>
        </nav>
    </header>
   <canvas id="memoryCanvas"></canvas>


    <div class="Container">
        <h1 class="title">Desenvolvedora de Software | C# | IA | UX/UI</h1>
        <img class="logo" src="~/Images/logo.png" alt="logo" width="100"> 
        <p class="description">Sou uma estudante de Ciências da Computação, apaixonada por desenvolvimento de software,
             inteligência artificial e design de interfaces. Com experiência em C# e Machine Learning, gosto de 
             transformar desafios em soluções inovadoras e eficientes. 
            Meu objetivo é criar tecnologias acessíveis e impactantes.
        </p>

        <div class="projects">
             <div class="tech-icons">
                <img src="~/Images/csharp.png" alt="Csharp" class="icon csharp">
                <img src="~/Images/java.png" alt="Java" class="icon java">
                <img src="~/images/python.png" alt="Python" class="icon python">
            </div>
             <img src="~/Images/fundo.png" alt="Gradiente" class="background">
        </div>
    </div>

    <div class="tec-home">
        <h2>Habilidades Técnicas</h2>
        <div class="skills">
            <div class="card">
                <div class="icon">
                   <img class="logop" src="~/Images/" alt="design">
                </div>
                <h3>Design</h3>
                <p class="skill-description">Criação de interfaces intuitivas e focadas na experiência do 
                    usuário.</p>
                <div class="skill-tags">
                <span class="tag">Figma</span>
                <span class="tag">Adobe XD</span>
                <span class="tag">UI/UX Research</span>
                <span class="tag">Design Systems</span>
                <span class="tag">Animações e Microinterações</span>
            </div>
            </div>
            <div class="card">
                <div class="icon">
                   <img class="logop" src="~/Images/" alt="design">
                </div>
                <h3>Front-end</h3>
                    <p class="skill-description">Desenvolvimento de interfaces dinâmicas, responsivas e 
                        performáticas.</p>
                <div class="skill-tags">
                    <span class="tag">React</span>
                    <span class="tag">Next.js</span>
                    <span class="tag">TypeScript</span>
                    <span class="tag">Tailwind CSS</span>
                    <span class="tag">GraphQL</span>
                    <span class="tag">WebAssembly</span>
                </div>
            </div>
            <div class="card">
                 <div class="icon">
                   <img class="logop" src="~/Images/" alt="design">
                </div>
                <h3>Back-end</h3>
                    <p class="skill-description">Desenvolvimento de arquiteturas robustas para alto desempenho e 
                        escalabilidade.</p>
                    <div class="skill-tags">
                        <span class="tag">ASP.NET Core</span>
                        <span class="tag">Node.js</span>
                        <span class="tag">NestJS</span>
                        <span class="tag">MongoDB</span>
                        <span class="tag">SQL Server</span>
                        <span class="tag">Microservices</span>
                        <span class="tag">Kafka</span>
                        <span class="tag">API REST & GraphQL</span>
                    </div>
            </div>
        </div>
    </div>

  <section id="meus-projetos">
  <h2>Meus Projetos</h2>
  <p>Aqui estão alguns dos meus projetos mais recentes, desenvolvidos com tecnologias e soluções criativas. Cada um desses projetos reflete minha paixão por criar experiências digitais eficientes e impactantes.</p>
 <canvas id="memoryCanvas"></canvas>
  <div class="lista-projetos">
    <div class="projeto-card">
      <img class="logop" src="~/Images/logop.png" alt="Projeto Aion">
      <div class="detalhes-projeto">
        <h3>Aion - Geração Inteligente de Horários</h3>
        <p>O Aion é uma plataforma baseada em Inteligência Artificial que otimiza a geração de horários de aulas. Ele considera variáveis como disponibilidade de professores e restrições para maximizar a eficiência.</p>
        <h4>Tecnologias: C#, ASP.NET, SQL Server, Machine Learning</h4>
        <a href="https://linkdoaion.com" target="_blank">Ver Projeto</a>
      </div>
    </div>

    <div class="projeto-card">
      <img class="logop" src="~/Images/trevo.png" alt="Projeto Aion">
      <div class="detalhes-projeto">
        <h3>AG - Aplicação Suporte à Saúde Mental</h3>
        <p>AG é uma aplicação desenvolvida para oferecer suporte à saúde mental, conectando usuários e profissionais. O projeto visa proporcionar um ambiente 
          seguro e acessível para aqueles que buscam apoio, incentivando a prática do autocuidado 
          e a busca por orientação profissional.</p>
        <h4>C#, ASP.NET, SQL Server, Machine Learning</h4>
        <a href="https://linkdoaion.com" target="_blank">Ver Projeto</a>
      </div>
    </div>

    <div class="projeto-card">
      <img src="~/Images/Dengue.png" alt="Projeto DengueUsc">
      <div class="detalhes-projeto">
        <h3>Dengue - Prevenção e Conscientização</h3>
        <p>Projeto de extensão que visa educar sobre a dengue, com informações sobre sintomas, tratamentos e formas de prevenção. A plataforma tem um design intuitivo e acessível.</p>
        <h4>Tecnologias: React, Node.js, Figma</h4>
        <a href="https://linkdengueusc.com" target="_blank">Ver Projeto</a>
      </div>
    </div>

    <div class="projeto-card">
      <img src="~/Images/usc.png" alt="App de Satisfação">
      <div class="detalhes-projeto">
        <h3>App Avaliação de Satisfação - Unisagrado</h3>
        <p>Aplicação multiplataforma que coleta feedbacks anônimos sobre o atendimento da Unisagrado. Através de um design simples, permite analisar dados e melhorar os serviços.</p>
        <h4>Tecnologias: C#, SQL Server, Figma</h4>
        <a href="https://linkappdesatisfacao.com" target="_blank">Ver Projeto</a>
      </div>
    </div>
  </div>
</section>

    <section class="linguagens">
        <p align="center">
            <a href="https://skillicons.dev">
                <img src="https://skillicons.dev/icons?i=git,vscode,visualstudio,figma,html,css,js,ts,cs,java,python,flutter,docker,postgresql,mysql" />
            </a>
        </p>
    </section>

    <footer class="footer">
        <div class="logo"></div>
        <div class="tagline">Vivendo, aprendendo e subindo de nível um dia de cada vez.</div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-dribbble"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
        </div>
       <p>&copy: 2025 Tainara Alves - Todos os direitos reservados
    </footer>
    
</body>

</html>
